p {
  font-size: 1.875em; /* 30px/16=1.875em */
}
button {
  margin-top: 30px;
  border-width: medium;
  background-color: blue;
  color: white;
}

#ecuador {
  display: none;
}
#caribbean {
  display: none;
}
#ireland {
  display: none;
}
.message {
  display: none;
}
